# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nathan Longhurst\Documents\Windows Root\Houdini (old)\BIIG Framework\Git Repository (contains copies, and modifications from 28 08 2020 11pm)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
